body {
    background: khaki;
}

h1 {
    text-align: center;
    color: black;
}

.Verde {
    color: green;
    background-color: gray;
}

.Vermelho {
    color: red;
    text-align: center;
    background-color: gray;
}

.Azul {
    color: blue;
    text-align: right;
    background-color: gray;
}

.Roxo {
    color: purple;
    text-align: center;
    background-color: gray;
}

.Amarelo {
    color: yellow ;
    background-color: gray;
}

.Rosa {
    color: hotpink;
    text-align: center;
    background-color: gray;
}

.branco {
    background: white;
}